{% extends "base.html" %}

{% block title %}Sousho AI Reader{% endblock %}

{% block content %}
<div class="titleContainer">
  <p class="titleBlock">Sousho Reader AI</p>
</div>
<div id="cropPopupArea" class="hidden">
  <div id="exampleArea">
    <p id="exampleHeader">Examples:</p>
    <div id="goodBadContainer">
      <div id="goodExample" class="exampleContainer">
        <p id="goodExampleHeader" class="exampleHeader">Good</p>
        <img src="{{url_for('static',filename='goodExample.png')}}" class="exampleImage goodExampleImage">
        <img src="{{url_for('static',filename='goodExample2.png')}}" class="exampleImage goodExampleImage">
      </div>
      <div id="badExample" class="exampleContainer">
        <p id="badExampleHeader" class="exampleHeader">Bad</p>
        <img src="{{url_for('static',filename='badExample.png')}}" class="exampleImage badExampleImage">
        <img src="{{url_for('static',filename='badExample2.png')}}" class="exampleImage badExampleImage">
      </div>
    </div>
  </div>
  <div>
    <p id="cropPopupHeader">Crop Image:</p>
    <div id="cropPopupContainer">
      <div id="cropImageContainer">
        <img id="testImage">
      </div>
      <br/>
      <button id="addCropButton">Add selection</button>
      <button id="submitCropButton" class="inactiveDone">Done</button>
    </div>
  </div>
  
  <div id="finishedCropArea">
    <p id="finishedCropAreaHeader">Add up to 4 kanji: </p>
    <div id="finishedCropsContainer">
      <div class="ifcc">
        <div id="cropDeleteButton1" class="cropDeleteButton hidden">x</div>
        <p class="ifccLabel">1</p>
        <img id="finishedCrop1" class="finishedCrop">
      </div>
      <div class="ifcc">
        <div id="cropDeleteButton2" class="cropDeleteButton hidden">x</div>
        <p class="ifccLabel">2</p>
        <img id="finishedCrop2" class="finishedCrop">
      </div>
      <div class="ifcc">
        <div id="cropDeleteButton3" class="cropDeleteButton hidden">x</div>
        <p class="ifccLabel">3</p>
        <img id="finishedCrop3" class="finishedCrop">
      </div>
      <div class="ifcc">
        <div id="cropDeleteButton4" class="cropDeleteButton hidden">x</div>
        <p class="ifccLabel">4</p>
        <img id="finishedCrop4" class="finishedCrop">
      </div>
    </div>
  </div>
</div>

<div id="applicationArea">
  <div id="imageArea">
    <div id="imageAreaHeader">Select an Image:</div>
    <div id="uploadContainer">
      
    </div>
    <div id="fileHolder">
      <button id="dummyButton">Upload File</button>
      <button id="demoButton">Demo</button>
      <input id="file" name="file" type="file" accept=".jpg, .jpeg, .png" />
    </div>
    <div id="questionContainer">
      <div id="questionImageSelectionBar">
        <div id="questionImageButton1" class="questionImageButton hidden"><p>1</p></div>
        <div id="questionImageButton2" class="questionImageButton hidden"><p>2</p></div>
        <div id="questionImageButton3" class="questionImageButton hidden"><p>3</p></div>
        <div id="questionImageButton4" class="questionImageButton hidden"><p>4</p></div>
      </div>
      <div id="questionImageHolder">
        <div id="dragAndDropLabel">Or, <br/> drag and drop an image<br/> <br/></div>
        <img id="showImage">
      </div>
    </div>
    
  </div>
  <div id="vertLine"></div>
  <div id="predictionAreaPlaceholder">Upload an image to see predictions</div>
  <div id="predictionArea" class="hidden">
    <div id="predictionAreaHeader" class="fade-in-bottom hidden">Top Matches: </div>
    <div id="horizontalBar" class="fade-in-right-bar hidden"></div>
    <div id="predictionTopBar">
      <div id="predContainer1" class="prediction fade-in-right hidden">
        <div id="pred1"></div>
      </div>
      <div id="predContainer2" class="prediction fade-in-right hidden">
        <div id="pred2"></div>
      </div>
      <div id="predContainer3" class="prediction fade-in-right hidden">
        <div id="pred3"></div>
      </div>
      <div id="predContainer4" class="prediction fade-in-right hidden">
        <div id="pred4"></div>
      </div>
      <div id="predContainer5" class="prediction fade-in-right hidden">
        <div id="pred5"></div>
      </div> 
    </div>
    <div style="overflow: hidden;">
      <div id="masterReferenceContainer" class="fade-in-bottom hidden">
        <div id="sampleImageHeader">
          <span id="sampleImageHeaderText">Reference Samples: </span>
        </div>
        <div id="sampleImageContainer">
          <div id="sampleImageRow1" class="sampleImageRow">
            <img class="fakeImage sampleImage1 fade-in-right hidden"></img>
            <img class="fakeImage sampleImage2 fade-in-right hidden"></img>
            <img class="fakeImage sampleImage3 fade-in-right hidden"></img>
            <img class="fakeImage sampleImage4 fade-in-right hidden"></img>
            <img class="fakeImage sampleImage5 fade-in-right hidden"></img>
          </div>
          <div id="sampleImageRow2" class="sampleImageRow">
            <img class="fakeImage sampleImage6 fade-in-right hidden"></img>
            <img class="fakeImage sampleImage7 fade-in-right hidden"></img>
            <img class="fakeImage sampleImage8 fade-in-right hidden"></img>
            <img class="fakeImage sampleImage9 fade-in-right hidden"></img>
            <img class="fakeImage sampleImage10 fade-in-right hidden "></img>
          </div>
        </div>
      </div>
    </div>
    
    
  </div>
</div>
<div id="preloadContainer"></div>
  <link  href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{url_for('static',filename='home.js')}}"></script>

{% endblock %}