{% extends "base.html" %}

{% block title %}Sousho AI Reader{% endblock %}

{% block content %}
<div class="titleContainer">
  <p class="titleBlock">Sousho Reader AI</p>
</div>
<div id="cropPopupArea" class="hidden">
  <div id="cropPopupContainer">
    <p id="cropPopupHeader">Crop Image</p>
    <div id="cropImageContainer">
      <img id="testImage">
    </div>
    <br/>
    <button id="submitCropButton">Done</button>
  </div>
</div>

<div id="applicationArea">
  <div id="imageArea">
    <div id="uploadContainer">
      
    </div>
    <div id="fileHolder">
      <input id="file" name="file" type="file" accept=".jpg, .jpeg, .png" />
    </div>
    
    <div id="questionImageHolder">
      <div id="dragAndDropLabel">Or, <br/> drag and drop an image</div>
      <img id="showImage">
    </div>
  </div>
  <div id="predictionArea">
    <div id="predictionTopBar">
      <div id="pred1" class="prediction"></div>
      <div id="pred2" class="prediction"></div>
      <div id="pred3" class="prediction"></div>
      <div id="pred4" class="prediction"></div>
      <div id="pred5" class="prediction"></div>
    </div>
    <div id="sampleImageContainer">
      <p id="sampleImageHeader">Reference Samples:</p>
      <div id="sampleImageRow1" class="sampleImageRow">
        <div class="fakeImage sampleImage1 fade-in-right"></div>
        <div class="fakeImage sampleImage2 fade-in-right"></div>
        <div class="fakeImage sampleImage3 fade-in-right"></div>
        <div class="fakeImage sampleImage4 fade-in-right"></div>
        <div class="fakeImage sampleImage5 fade-in-right"></div>
      </div>
      <div id="sampleImageRow2" class="sampleImageRow">
        <div class="fakeImage sampleImage6 fade-in-right"></div>
        <div class="fakeImage sampleImage7 fade-in-right"></div>
        <div class="fakeImage sampleImage8 fade-in-right"></div>
        <div class="fakeImage sampleImage9 fade-in-right"></div>
        <div class="fakeImage sampleImage10 fade-in-right"></div>
      </div>
    </div>
  </div>
</div>

  <link  href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{url_for('static',filename='home.js')}}"></script>

{% endblock %}