body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(43, 45, 43);
}

.fade-in-right{-webkit-animation:fade-in-right .6s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in-right .6s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes fade-in-right{0%{-webkit-transform:translateX(50px);transform:translateX(50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes fade-in-right{0%{-webkit-transform:translateX(50px);transform:translateX(50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

.sampleImage1{animation-delay: 0ms;}
.sampleImage2{animation-delay: 100ms;}
.sampleImage3{animation-delay: 200ms;}
.sampleImage4{animation-delay: 300ms;}
.sampleImage5{animation-delay: 400ms;}
.sampleImage6{animation-delay: 500ms;}
.sampleImage7{animation-delay: 600ms;}
.sampleImage8{animation-delay: 700ms;}
.sampleImage9{animation-delay: 800ms;}
.sampleImage10{animation-delay: 900ms;}

.titleContainer{
  text-align: center;
  color: white;
}
.titleBlock {
  margin: 2vh;
  font-size: 4vw;
}

.fakeImage{
  background-color: rgb(0, 51, 255);
  height: 10vw;
  width: 10vw;
}

.sampleImageRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#sampleImageRow2{
  padding: 5vh 0 10vh 0;
}

.prediction{
  font-size: 3vw;
  text-align: center;
  width: 6vw;
  color: white;
  border-top-right-radius: 2vh;
  border-top-left-radius: 2vh;
  background-color: rgb(94, 94, 94);
  margin: -3px;
}

.activePrediction{
  background-color: gray;
  border-top-right-radius: 2vh;
  border-top-left-radius: 2vh;
}

#sampleImageContainer{
  background-color: gray;
  z-index: 2;
}
#testImage{
  display: block;
  /* This rule is very important, please don't ignore this */
  width: 100%;
}

#sampleImageHeader{
  padding: 3% 0 0 10%;
  margin-top: 0;
  color: white;
  font-size: 2vw;
}

#cropPopupContainer {
  background-color: rgb(72, 120, 120);
  border-radius: 1vw;
  box-shadow: 0px 0px 1px 100vw rgba(0, 0, 0, 0.641);
}

#cropImageContainer{
  display: inline-block;
  max-width: 30vw;
  max-width: 60vh;
  margin: 0 3vw 0 3vw;
}

#cropPopupHeader{
  font-size: 2vw;
  color:white; 
  text-align: center;
}

#submitCropButton{
  color: white;
  background-color: rgb(40, 172, 255);
  border-radius: .5vw;
  font-size: 1.5vw;
  padding: .5vw;
  border: none;
  margin-top: 2vh;
  margin-bottom: 2vh;
  cursor: pointer;
}

#cropPopupArea{
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top:0;
  left:0;
}

.hidden {
  display: none !important;
}

#showImage{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border:none;
  display: none;
}

#imageArea{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 35vw;
}
#file{
  text-align: center;
  font-size: 3vh;
}
#predictionArea{
  justify-content: center;
  border: 3px solid white;
  width: 60vw;
  margin-right: 5vw;
}
#applicationArea {
  display: flex;
  flex-direction: row;
}
#questionImageHolder{
  margin-top: 5vh;
  height: 40vh;
  width:90%;
  outline: 3px solid white;
}
#predictionTopBar {
  display: flex;
  width: 80%;
  z-index: 1;
  margin: auto;
  margin-top: 5vh;
  justify-content: space-between;
}
#dragAndDropLabel{
  color: rgba(255, 255, 255, 0.198);
  font-size: 4vw;
  font-weight: bold;
  padding: 2vh 1vw 0vh 1vw

}
#fileHolder{
  display: flex;
  height:10vh;
  margin: none;
  align-items: center;
}