body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(20, 20, 20);
}

.fade-in-right{-webkit-animation:fade-in-right .6s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in-right .6s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes fade-in-right{0%{-webkit-transform:translateX(50px);transform:translateX(50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes fade-in-right{0%{-webkit-transform:translateX(50px);transform:translateX(50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

.fade-in-right-bar{-webkit-animation:fade-in-right 1s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in-right .6s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes fade-in-right-bar{0%{-webkit-transform:translateX(200px);transform:translateX(200px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes fade-in-right-bar{0%{-webkit-transform:translateX(200px);transform:translateX(200px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

.fade-in-bottom{-webkit-animation:fade-in-bottom .6s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in-bottom .6s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes fade-in-bottom{0%{-webkit-transform:translateY(50px);transform:translateY(50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes fade-in-bottom{0%{-webkit-transform:translateY(50px);transform:translateY(50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}



.sampleImage1{animation-delay: 1000ms;}
.sampleImage2{animation-delay: 1100ms;}
.sampleImage3{animation-delay: 1200ms;}
.sampleImage4{animation-delay: 1300ms;}
.sampleImage5{animation-delay: 1400ms;}
.sampleImage6{animation-delay: 1000ms;}
.sampleImage7{animation-delay: 1100ms;}
.sampleImage8{animation-delay: 1200ms;}
.sampleImage9{animation-delay: 1300ms;}
.sampleImage10{animation-delay: 1400ms;}

#pred1{animation-delay: 0s;}
#pred2{animation-delay: .1s;}
#pred3{animation-delay: .2s;}
#pred4{animation-delay: .3s;}
#pred5{animation-delay: .4s;}

.titleContainer{
  color: white;
}
.titleBlock {
  margin: 2vh;
  font-size: 3vw;
  margin-bottom: 0;
}
#vertLine{
  border-left: 1px solid white;
  margin-top: 4vw;
}

#masterReferenceContainer{
  animation-delay: .5s;
  animation-play-state: paused;
}

.cropper-center:before,
.cropper-center:after {
  background-color: #999;
}

.fakeImage{
  background-color: rgb(31, 31, 31);
  height: 16.5vh;
  width: 16.5vh;
  border: .7vh solid rgb(31,31,31);
  outline: .3vh solid rgb(0, 85, 118);
  border-radius: 1vw;
}

.sampleImageRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#sampleImageRow1{
  padding: 4vh 0 2vh 0;
}

#finishedCropsContainer{
  position: absolute;
  left: 23vw;
}

#sampleImageRow2{
  padding: 2vh 0 4vh 0;
}

#dummyButton{
  color: white;
  font-size: 2vw;
  margin-top: 10vh;
  padding: 1.5vh 1.5vw;
  background-color: rgb(0, 119, 255);
  border: none;
  border-radius: 1vw;
  cursor: pointer;
}

#dummyButton:hover {
  background-color: rgb(1, 102, 218);
  box-shadow: 0 0 1.5vw .1vh rgba(49, 145, 255, 0.54);
}

#imageAreaHeader{
  color: white;
  margin: 8vh 0 5vh 0;
  font-size: 3vw;
  margin-left: 3vw;
}

#predictionAreaHeader{
  color: white;
  margin: 0 0 1vh 0;
  font-size: 3vw;
  margin-left: 3vw;
  animation-play-state: paused;
}

.prediction{
  font-size: 6vh;
  text-align: center;
  background-color: rgb(31, 31, 31);
  width: 5vw;
  padding: 0 1vw;
  color: white;
  box-shadow: 0 0 1vw .1vh rgba(255, 255, 255, 0.525);
  border-radius: 4vh;
  cursor:pointer;
}

.activePrediction{
  outline: 2px solid rgb(255, 121, 31);
  text-shadow: 0 0 1vh rgb(255, 121, 31);
  box-shadow: 0 0 2vw .1vw rgb(255, 121, 31);
}

#sampleImageContainer{
  border: .5vh double rgb(0, 85, 118);
  border-radius: 2vw;
  z-index: 2;
  background-color: rgb(31, 31, 31);
  animation-delay:.5s;
  animation-play-state: paused;
}
#testImage{
  display: block;
  /* This rule is very important, please don't ignore this */
  width: 100%;
}

#sampleImageHeader{
  padding: 2vh 0 0 2.5vw;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-size: 4vh;
  animation-delay: .5s;
  animation-play-state: paused;
  position: relative;
  z-index: 5;
}

#sampleImageHeaderText{
  background-color: rgb(31, 31, 31);
  padding: 1vh 2vh 0 2vh;
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
  border: .5vh double rgb(0, 85, 118);
  border-bottom: .7vh solid rgb(31, 31, 31);
}

#headerCover {
  background-color: rgb(31, 31, 31);
  position: absolute;
  top: 6.5vh;
  padding: 1vh 2vh 0 2vh;
  color:transparent;
  font-size: 2vh;
  z-index: unset;
}

.ifcc{
  width: 7vw;
  height: 7vw;
  border: 1px solid white;
  margin-bottom: 1vh;
}

.finishedCrop{
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.finishedCrop[src=""]{
  display:none;
}

.questionImageButton{
  color:white;
  width: 5vw;
  height:5vh;
  margin:0;
  font-size: 4vh;
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
  background-color: #999;
  display:inline-block;
  cursor:pointer;
}

.activeQuestion{
  background-color: #5c5c5c;
}

#cropPopupContainer {
  background-color: rgb(72, 120, 120);
  position: relative;
  border-radius: 1vw;
  width: 20vw;
  box-shadow: 0px 0px 1px 100vw rgba(0, 0, 0, 0.641);
}

#cropImageContainer{
  display: inline-block;
  max-width: 30vw;
  max-width: 60vh;
  margin: 0 3vw 0 3vw;
}

#cropPopupHeader{
  font-size: 2vw;
  color:white; 
  text-align: center;
}

#submitCropButton{
  color: white;
  background-color: rgb(0, 185, 12);
  border-radius: .5vw;
  font-size: 1.5vw;
  padding: .5vw;
  border: none;
  margin-top: 2vh;
  margin-bottom: 2vh;
  cursor: pointer;
}

#addCropButton{
  color: white;
  background-color: rgb(40, 172, 255);
  border-radius: .5vw;
  font-size: 1.5vw;
  padding: .5vw;
  border: none;
  margin-top: 2vh;
  margin-bottom: 2vh;
  cursor: pointer;
}

#cropPopupArea{
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top:0;
  left:0;
  z-index: 999;
}

#preloadContainer {
  display: none;
}

.hidden {
  display: none !important;
}

#showImage{
  width: 95%;
  height: 95%;
  object-fit: fill;
  border: 2vh solid rgb(20, 20, 20);
  border-radius: 1vw;
  margin:auto;
  border:none;
  display: none;
}

#imageArea{
  width: 35vw;
}
#file{
  display: none;
}
#predictionArea{
  justify-content: center;
  overflow: hidden;
  width: 55vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

#predictionAreaPlaceholder{
  justify-content: center;
  text-align: center;
  width: 49vw;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-top: 8vh;
  font-size: 5vw;
  color: rgba(255, 255, 255, 0.386);
}

#applicationArea {
  display: flex;
  flex-direction: row;
}
#questionImageHolder{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
  border-radius: 1vw;
  outline: .2vw solid rgb(193, 193, 193);
}
#questionImageSelectionBar{
  position: absolute;
  top:-5vh;
  width: 45vh;
  margin: auto;
  text-align: center;
}

#questionContainer{
  margin:auto;
  margin-top: 10vh;
  position:relative;
  height: 45vh;
  width:45vh;
}

#predictionTopBar {
  display: flex;
  width: 90%;
  z-index: 1;
  margin: auto;
  height:8.5vh;
  margin-bottom: 8.5vh;
  justify-content: space-between;
}
#horizontalBar{
  border-top: 1px solid white;
  margin:auto;
  margin-bottom: 8vh;
  width:90%;
  animation-delay: 500ms;
  animation-play-state: paused;

}
#dragAndDropLabel{
  color: rgba(255, 255, 255, 0.198);
  font-size: 3.5vw;
  font-weight: bold;
  text-align: center;
  padding: 2vh 1vw 0vh 1vw

}
#fileHolder{
  display: flex;
  height:10vh;
  margin: none;
  align-items: center;
  justify-content: center;
}