body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(43, 45, 43);
}
.titleContainer{
  text-align: center;
  color: white;
}
.titleBlock {
  margin: 2vh;
  font-size: 4vw;
}

.prediction{
  font-size: 3vw;
  color: white;
}

#testImage{
  display: block;

  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}

#showImage{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border:none;
  display: none;
}

#imageArea{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 30vw;
}
#file{
  text-align: center;
  font-size: 3vh;
}
#predictionArea{
  justify-content: center;
  border: 3px solid white;
  width: 70vw;
}
#applicationArea {
  display: flex;
  flex-direction: row;
}
#questionImageHolder{
  margin-top: 5vh;
  height: 40vh;
  width:90%;
  outline: 3px solid white;
}
#predictionTopBar {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 5vh;
  justify-content: space-between;
}
#dragAndDropLabel{
  color: rgba(255, 255, 255, 0.198);
  font-size: 4vw;
  font-weight: bold;
  padding: 2vh 1vw 0vh 1vw

}
#fileHolder{
  display: flex;
  height:10vh;
  margin: none;
  align-items: center;
}